@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.header{
    background:url(background.jpg),black;
    color:white;
    padding:150px 0px;
    text-align:center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-logo{
    height:40px;
    width:40px;
    margin-right: 10px;
/*    border: solid #d1d1d1 1px;*/
/*    border-radius: 5px;*/
    padding:3px;
}
